
*.config
*.js
*.map
*.sln
*.user
*.csproj
*.nupkg
*.dll
*.xml
*.EXE
*.p7s
*.md
*.ps1
*.rsp
*.targets
*.xdt
*.props
*.json
*.pdb
*.psm1
*.psd1
*.txt
*.png
*.transform
*.woff2
*.woff
*.ttf
*.svg
*.eot
*.css
*.cache
*.CopyComplete
*.ico
*.ldf
ProductStore/.vs/ProductStore/v16/.suo
*.asax
ProductStore/Properties/AssemblyInfo.cs
ProductStore/App_Start/BundleConfig.cs
ProductStore/App_Start/FilterConfig.cs
ProductStore/App_Start/RouteConfig.cs
